{% extends "base.html" %}

{% block title %}{% if english == "yes" %}About CryptoEpoch{% else %}关于加密纪元{% endif %}{% endblock title %}

{% block page_content %}

{% if english == "yes" %}


<div class="page-header">
    
    <h2><font style="font-weight:bold;font-family:Cochin;color:#000000"><b><strong>CryptoEpoch</strong></b></font></h2>
    </div>
<div class="col-md-8">

<pre align=center><big> <p><q><b>To be the Best Blockchain Knowledge Service Platform</b></q></big></p></pre>

<p>Currently, the website has functions as below: 
<ul><li>To write blogs
</li><li>To at (@) somebody in a comment
</li><li>To upload files, pictures, audio or video               
</li><li>To register lessons
</li><li>To upload files, pictures, audios or video for lessons
</li><li>To open classes
</li><li>To join classes
</li><li>To select seats
</li><li>To submit homeworks
</li><li>To give comments and scores of homeworks 
</li><li>To make attendance statistics
</li><li>To select a replier randomly
</li><li>To give course discussion or notice
</li><li>To show various of notifications on homepages of person's, teacher's, lesson's and class'
</li></ul></p>



{% else %}



<div class="page-header">
    
    <h3><font style="font-weight:bold;font-family:cochin;color:#000000"><b><strong>“加密纪元”及“吴聊区块链”介绍</strong></b></font></h3>
    </div>
<div class="col-md-8">
  <h3>关于本人</h3>

<p>您好啊！本人<a href="https://www.linkedin.com/in/jiangang-wu-7a0a8623/">吴建刚</a>，是<a href="http://my.shu.edu.cn/cn/ms_wujiangang">上海大学管理学院老师</a>，<a href="http://www.ceibs.edu/ceibs-lujiazui-institute-international-finance">中欧国际工商管理学院</a>研究员，<a href="http://newssearch.chinadaily.com.cn/en/search?query=Wu%20Jiangang">China Daily</a>专栏作者，金融工程学博士，<a href="http://github.com/jiangangwu">程序员</a>。目前主要专注于区块链研究和创业，是<a href="https://fusion.org/team">FUSION</a>联合创始人。很高兴与您建立联系！
<h4>在区块链方面的工作</h4>

<p>出于对区块链的热爱，本人在区块链方面做了以下几项工作：</p>

<ul>
<li><b>区块链研究</b>：从2017年11月开始把自己写的一些文章上传到  “吴聊区块链”公众号，并在写作区块链相关的书籍。</li>

<li><b>群讨论和免费课程</b>：从2018年1月开始创办  “吴聊区块链”群，向群友以提供免费的区块链高级课程，也不断完善了 <a href="http://cryptoepoch.com/post/425">“吴聊区块链”群规</a> 参考，目前被认为是很有秩序的区块链群。为了帮助大家在区块链行业从知识转化为实践，还向群成员免费提供 <a href="http://cryptoepoch.com/post/425">科学上网办法</a> 、私募机会和OTC交易群等。</li>

<li> <b>区块链新闻跟踪</b>：2018年4月创办了“加密纪元”公众号，用于跟踪区块链行业的重要新闻。</li>
      
<li><b>知识服务平台</b>：2018年5月创办了<a href="http://cryptoepoch.com/">加密纪元网站</a>，目前是要做 <big><b>做最好的区块链知识服务平台</b></big>。</li>

<li><b>项目孵化和顾问</b>：作为联合创始人创办了<a href="http://fusion.org">FUSION公有链项目</a>，也是多家区块链风投和公有链项目的顾问。</li>
</ul>

<h4>关于网站</h4>
<p>该网站项目意在建立一个区块链知识相关的知识服务网站，并吸引对区块链感兴趣的人们来此学习和分享知识。</p>

<p>网站取名：<tt><b><big>加密纪元</big></b></tt>，是迎接以加密为基础的新的社会形态的意思，可以通过“http://cryptoepoch.com”登录。</p>
 
<p>网站主要包括新闻、研究、评级、博客、导航、资料、入门、开课和选课等功能。具体可以参考文章：<a href="http://cryptoepoch.com/post/426">“加密纪元”网站说明</a>欢迎<a href="{{ url_for('main.register') }}">&nbsp注册&nbsp</a>使用。</p>
<br><br><br><br><br><br><br><br><br>
</div>



{% endif %}
{% endblock %}
