{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{% if english == "yes" %}Basic{% else %}入门{% endif %}{% endblock title %}

{% block page_content %}
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{{ url_for('.basic') }}">{% if english == "yes" %}Basic{% else %}入门{% endif %}</a></li>

    </ul>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
