{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{% if english == "yes" %}{{ lesson.lesson_name }}（{{newlesson.year}}{{newlesson.season}}）--Discussion{% else %}{{ lesson.lesson_name }}（{{newlesson.year}}{{newlesson.season}}）--讨论{% endif %}{% endblock %}

{% block page_content %}



{% if english == "yes" %}







<div class="page-header">
{% if lesson.teacher_id == current_user.id %}
    <a href="{{ url_for('main.change_lesson_pic',id=lesson.id) }}" title="Change portrait">
         {% if lesson.pic != None %}               
               <img class="img-rounded profile-thumbnail" src="{{ lesson.pic }}" width=200>
         {% else %}
               <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=200) }}">
         {% endif %}                                                           
    </a>
{% else %}
         {% if lesson.pic != None %}               
               <img class="img-rounded profile-thumbnail" src="{{ lesson.pic }}" width=200>
         {% else %}
               <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=200) }}">
         {% endif %}   
{% endif %}

<div class="profile-header">
        <h3><a href="{{url_for('main.lesson',id=lesson.id)}}">{{ lesson.lesson_name }}</a></h3>
        <a href="{{url_for('main.current_lesson',newlesson_id=newlesson.id) }}">{{ newlesson.year }}{{ newlesson.season }}'s homepage</a>
                                  <small> <br>{{newlesson.about}}
                                  <br>Created: {{ moment(lesson.timestamp).format('YY.MM.DD') }}</small>


     {% if lesson.teacher_id == current_user.id %} 
       <br><small><a href="{{url_for('main.edit_new_lesson',newlesson_id=newlesson.id)}}">Modify class profile</a></small><p/>
           <p><a href="{{url_for('main.current_lesson_topic',newlesson_id=newlesson.id)}}">Class paper</a></p>
       <p><a href="{{url_for('main.current_lesson_absence',newlesson_id=newlesson.id)}}">Absence</a></p>
       <p><a href="{{url_for('main.current_lesson_namelist',newlesson_id=newlesson.id)}}">Name list</a></p>                     
       <p><a href="{{ url_for('main.current_lesson_discussion',newlesson_id=newlesson.id) }}">Discussion</a></p>
{% endif %}


{% if student %}
    {% if student.confirm %}
        {% if student.student_id == current_user.id %} <br><br>
           <p><a href="{{url_for('main.current_lesson_topic',newlesson_id=newlesson.id)}}">Class paper</a></p>
           <p><a href="{{url_for('main.current_lesson_absence',newlesson_id=newlesson.id)}}">Select a seat</a></p>
       <p><a href="{{url_for('main.current_lesson_namelist',newlesson_id=newlesson.id)}}">Name list</a></p>                     
           <p><a href="{{ url_for('main.current_lesson_discussion',newlesson_id=newlesson.id) }}">Discussion</a></p>

       {% endif %}   
    {% endif %}
{% endif %}

{% if student != None %}
    {% if not student.confirm and lesson.teacher_id != current_user.id %}
          <p/>     <p><a href="{{url_for('main.current_lesson_topic',newlesson_id=newlesson.id)}}">Class paper</a></p>
           <p><a href="{{url_for('main.current_lesson_absence',newlesson_id=newlesson.id)}}">Seats</a></p>
       <p><a href="{{url_for('main.current_lesson_namelist',newlesson_id=newlesson.id)}}">Name list</a></p>                     
           <p><a href="{{ url_for('main.current_lesson_discussion',newlesson_id=newlesson.id) }}">Discussion</a></p>
    <p>Please wait for authorization of the teacher.&nbsp&nbsp<a  href="{{url_for('main.del_student',student_id=current_user.id,newlesson_id=newlesson.id)}}" onclick="javascript:if(!confirm('Are you sure to quit?'))return false;" >Quit from the class</a></p>
{% endif %}
{% endif %}
{% if student == None and lesson.teacher_id != current_user.id %}
           <p></p>
           <p><a href="{{url_for('main.current_lesson_topic',newlesson_id=newlesson.id)}}">Class paper</a></p>
           <p><a href="{{url_for('main.current_lesson_absence',newlesson_id=newlesson.id)}}">Seats</a></p>
           <p><a href="{{url_for('main.current_lesson_namelist',newlesson_id=newlesson.id)}}">Name list</a></p>                     
           <p><a href="{{ url_for('main.current_lesson_discussion',newlesson_id=newlesson.id) }}">Discussion</a></p>
           <p><a class="btn btn-default" href="{{url_for('main.select_lesson',newlesson_id=newlesson.id)}}">Enroll Now</a></p>
{% endif %}


           <p><a class="btn btn-default" href="{{ url_for('main.write',tag='newlessons_' + newlesson.id | string) }}">Write</a></p>




    </div>
</div>


<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li {% if not show_followed_discussion %} class="active"{% endif %}><a href="{{ url_for('.show_all_discussion',newlesson_id=newlesson.id) }}">Discussion</a></li>
  </ul>
<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
         {% if post.author.avatar_file != None  %}               
               <img class="img-rounded profile-thumbnail" src="{{ post.author.avatar_file }}" height=40 width=40>
         {% else %}
               <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
         {% endif %}                                                           
            </a>
        </div>
        <div class="post-content">
            <div class="post-date"><small>{{ moment(post.timestamp).fromNow() }}（{{ moment(post.timestamp).format('YY.MM.DD HH:MM') }}）</small></div>
            <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
            <div class="post-body">
            
                {% if post.topic %}
                    <h2><a href="{{ url_for('.post', id=post.id) }}">{{ post.topic }}</a></h2>
                {% endif %}

                {% if post.pic and post.pic1 == None %}             
                <p><img width="256" src="{{ post.pic }}" ></p>                            
                {% endif %}                                                           

              
                {% if post.body_html | length > 1000 %}
                    {{ post.body_html[0:1000] | safe }}
                    <p></p><p>&nbsp</p>
                    <p></p><p><a href="{{ url_for('.post', id=post.id) }}">show only 500 characters, to show full article please click here...</a></p>
                    {% else %}
                    {{ post.body_html | safe }}
                {% endif %}                
                
                {% if post.pic and post.pic1 != None %}             
                <p><img width="256" src="{{ post.pic }}" ></p>                            
                {% endif %}                                                           
               {% if post.pic1  != None %}             
                <p><img width="256" src="{{ post.pic1 }}"></p>                            
                {% endif %}                                                           
                {% if post.pic2 != None  %}             
                <p><img width="256"  src="{{ post.pic2 }}"></p>                            
                {% endif %}                                                           
                {% if post.pic3  != None %}             
                <p><img width="256"  src="{{ post.pic3 }}"></p>                            
                {% endif %}                                                           

                {% if post.file1 != None %}             
                <p><a  href="{{ url_for('static',filename=post.file1.replace('/static/','')) }}" >{{ post.filename1 }}</p>                            
                {% endif %}                                                           
                {% if post.file2 != None  %}             
                <p><a  href="{{ url_for('static',filename=post.file2.replace('/static/','')) }}" >{{ post.filename2 }}</p>                            
                {% endif %}                                                           
                {% if post.file3 != None  %}             
                <p><a  href="{{ url_for('static',filename=post.file3.replace('/static/','')) }}" >{{ post.filename3 }}</p>                            
                {% endif %}                                                           
                {% if post.file4 != None  %}             
                <p><a  href="{{ url_for('static',filename=post.file4.replace('/static/','')) }}" >{{ post.filename4 }}</p>                            
                {% endif %}                                                           
                {% if post.file5 != None  %}             
                <p><a  href="{{ url_for('static',filename=post.file5.replace('/static/','')) }}" >{{ post.filename5 }}</p>                            
                {% endif %}                                                           
  
            </div>
            <div class="post-footer">
                {% if current_user == post.author and post.private==True %}
                    <span style="background-color:#FFFFFF;color:#777777" class="label label-default">Private</span>
                {% endif %}

                {% if current_user == post.author %}
                    {% if current_user == post.author and (post.file !=None or post.pic1 != None) %}
                    <a href="{{ url_for('.edit2', id=post.id) }}">
                        <span class="label label-primary">Edit</span>
                    </a>
                    {% else %}
                    <a href="{{ url_for('.edit', id=post.id) }}">
                        <span class="label label-primary">Edit</span>
                    </a>
                    {% endif %}       
                {% endif %}       

                {% if current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}   
         
                <a href="{{ url_for('.post', id=post.id) }}#comments">
                    <span class="label label-primary">{{ post.comments.count() }} Comment</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}






{% else %}






<div class="page-header">
{% if lesson.teacher_id == current_user.id %}
    <a href="{{ url_for('main.change_lesson_pic',id=lesson.id) }}" title="更换头像">
         {% if lesson.pic != None %}               
               <img class="img-rounded profile-thumbnail" src="{{ lesson.pic }}" width=200>
         {% else %}
               <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=200) }}">
         {% endif %}                                                           
    </a>
{% else %}
         {% if lesson.pic != None %}               
               <img class="img-rounded profile-thumbnail" src="{{ lesson.pic }}" width=200>
         {% else %}
               <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=200) }}">
         {% endif %}   
{% endif %}

<div class="profile-header">
        <h3><a href="{{url_for('main.lesson',id=lesson.id)}}">{{ lesson.lesson_name }}</a></h3>
        <a href="{{url_for('main.current_lesson',newlesson_id=newlesson.id) }}">{{ newlesson.year }}{{ newlesson.season }}的班级主页</a>
                                  <small> <br>（{{newlesson.about}}；开课日：{{ moment(lesson.timestamp).format('YY.MM.DD') }}）</small>


     {% if lesson.teacher_id == current_user.id %} 
       <small><a href="{{url_for('main.edit_new_lesson',newlesson_id=newlesson.id)}}">（修改班级资料）</a></small><p/>
           <p><a href="{{url_for('main.current_lesson_topic',newlesson_id=newlesson.id)}}">课程论文</a></p>
       <p><a href="{{url_for('main.current_lesson_absence',newlesson_id=newlesson.id)}}">考勤</a></p>
       <p><a href="{{url_for('main.current_lesson_namelist',newlesson_id=newlesson.id)}}">名册</a></p>                     
       <p><a href="{{ url_for('main.current_lesson_discussion',newlesson_id=newlesson.id) }}">讨论</a></p>
{% endif %}


{% if student %}
    {% if student.confirm %}
        {% if student.student_id == current_user.id %} <br><br>
           <p><a href="{{url_for('main.current_lesson_topic',newlesson_id=newlesson.id)}}">课程论文</a></p>
           <p><a href="{{url_for('main.current_lesson_absence',newlesson_id=newlesson.id)}}">选择座位</a></p>
       <p><a href="{{url_for('main.current_lesson_namelist',newlesson_id=newlesson.id)}}">名册</a></p>                     
           <p><a href="{{ url_for('main.current_lesson_discussion',newlesson_id=newlesson.id) }}">讨论</a></p>

       {% endif %}   
    {% endif %}
{% endif %}

{% if student != None %}
    {% if not student.confirm and lesson.teacher_id != current_user.id %}
          <p/>     <p><a href="{{url_for('main.current_lesson_topic',newlesson_id=newlesson.id)}}">课程论文</a></p>
           <p><a href="{{url_for('main.current_lesson_absence',newlesson_id=newlesson.id)}}">座位</a></p>
       <p><a href="{{url_for('main.current_lesson_namelist',newlesson_id=newlesson.id)}}">名册</a></p>                     
           <p><a href="{{ url_for('main.current_lesson_discussion',newlesson_id=newlesson.id) }}">讨论</a></p>
    <p>请耐心等待老师批准。&nbsp&nbsp<a  href="{{url_for('main.del_student',student_id=current_user.id,newlesson_id=newlesson.id)}}" onclick="javascript:if(!confirm('确认退出？'))return false;" >退出该班</a></p>
{% endif %}
{% endif %}
{% if student == None and lesson.teacher_id != current_user.id %}
           <p></p>
           <p><a href="{{url_for('main.current_lesson_topic',newlesson_id=newlesson.id)}}">课程论文</a></p>
           <p><a href="{{url_for('main.current_lesson_absence',newlesson_id=newlesson.id)}}">座位</a></p>
           <p><a href="{{url_for('main.current_lesson_namelist',newlesson_id=newlesson.id)}}">名册</a></p>                     
           <p><a href="{{ url_for('main.current_lesson_discussion',newlesson_id=newlesson.id) }}">讨论</a></p>
           <p><a class="btn btn-default" href="{{url_for('main.select_lesson',newlesson_id=newlesson.id)}}">申请选修</a></p>
{% endif %}


           <p><a class="btn btn-default" href="{{ url_for('main.write',tag='newlessons_' + newlesson.id | string) }}">发贴</a></p>




    </div>
</div>


<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li {% if not show_followed_discussion %} class="active"{% endif %}><a href="{{ url_for('.show_all_discussion',newlesson_id=newlesson.id) }}">讨论</a></li>
  </ul>
<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
         {% if post.author.avatar_file != None  %}               
               <img class="img-rounded profile-thumbnail" src="{{ post.author.avatar_file }}" height=40 width=40>
         {% else %}
               <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
         {% endif %}                                                           
            </a>
        </div>
        <div class="post-content">
            <div class="post-date"><small>{{ moment(post.timestamp).fromNow() }}（{{ moment(post.timestamp).format('YY.MM.DD HH:MM') }}）</small></div>
            <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
            <div class="post-body">
            
                {% if post.topic %}
                    <h2><a href="{{ url_for('.post', id=post.id) }}">{{ post.topic }}</a></h2>
                {% endif %}

                {% if post.pic and post.pic1 == None %}             
                <p><img width="256" src="{{ post.pic }}" ></p>                            
                {% endif %}                                                           

              
                {% if post.body_html | length > 1000 %}
                    {{ post.body_html[0:1000] | safe }}
                    <p></p><p>&nbsp</p>
                    <p></p><p><a href="{{ url_for('.post', id=post.id) }}">仅显示1000字，查看全文，请点此处……</a></p>
                    {% else %}
                    {{ post.body_html | safe }}
                {% endif %}                
                
                {% if post.pic and post.pic1 != None %}             
                <p><img width="256" src="{{ post.pic }}" ></p>                            
                {% endif %}                                                           
               {% if post.pic1  != None %}             
                <p><img width="256" src="{{ post.pic1 }}"></p>                            
                {% endif %}                                                           
                {% if post.pic2 != None  %}             
                <p><img width="256"  src="{{ post.pic2 }}"></p>                            
                {% endif %}                                                           
                {% if post.pic3  != None %}             
                <p><img width="256"  src="{{ post.pic3 }}"></p>                            
                {% endif %}                                                           

                {% if post.file1 != None %}             
                <p><a  href="{{ url_for('static',filename=post.file1.replace('/static/','')) }}" >{{ post.filename1 }}</p>                            
                {% endif %}                                                           
                {% if post.file2 != None  %}             
                <p><a  href="{{ url_for('static',filename=post.file2.replace('/static/','')) }}" >{{ post.filename2 }}</p>                            
                {% endif %}                                                           
                {% if post.file3 != None  %}             
                <p><a  href="{{ url_for('static',filename=post.file3.replace('/static/','')) }}" >{{ post.filename3 }}</p>                            
                {% endif %}                                                           
                {% if post.file4 != None  %}             
                <p><a  href="{{ url_for('static',filename=post.file4.replace('/static/','')) }}" >{{ post.filename4 }}</p>                            
                {% endif %}                                                           
                {% if post.file5 != None  %}             
                <p><a  href="{{ url_for('static',filename=post.file5.replace('/static/','')) }}" >{{ post.filename5 }}</p>                            
                {% endif %}                                                           
  
            </div>
            <div class="post-footer">
                {% if current_user == post.author and post.private==True %}
                    <span style="background-color:#FFFFFF;color:#777777" class="label label-default">私有</span>
                {% endif %}

                {% if current_user == post.author %}
                    {% if current_user == post.author and (post.file !=None or post.pic1 != None) %}
                    <a href="{{ url_for('.edit2', id=post.id) }}">
                        <span class="label label-primary">编辑</span>
                    </a>
                    {% else %}
                    <a href="{{ url_for('.edit', id=post.id) }}">
                        <span class="label label-primary">编辑</span>
                    </a>
                    {% endif %}       
                {% endif %}       

                {% if current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-danger">编辑 [Admin]</span>
                </a>
                {% endif %}   
         
                <a href="{{ url_for('.post', id=post.id) }}#comments">
                    <span class="label label-primary">{{ post.comments.count() }} 评论</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}






{% endif %}












{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

{% endblock %}