{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ lesson.lesson_name }}（{{newlesson.year}}{{newlesson.season}}）{% endblock %}

{% block page_content %}


{% if english == "yes" %}

<div class="page-header">
  {% if lesson.teacher_id == current_user.id %}
  <a href="{{ url_for('main.change_lesson_pic',id=lesson.id) }}" title="Change portrait">
    {% if lesson.pic != None %}               
    <img class="img-rounded profile-thumbnail" src="{{ lesson.pic }}" width=200>
    {% else %}
    <img class="img-rounded profile-thumbnail" src="{{ teacher.gravatar(size=200) }}">
    {% endif %}                                                           
  </a>
  {% else %}
  {% if lesson.pic != None %}               
  <img class="img-rounded profile-thumbnail" src="{{ lesson.pic }}" width=200>
  {% else %}
  <img class="img-rounded profile-thumbnail" src="{{ teacher.gravatar(size=200) }}">
  {% endif %}   
  {% endif %}
  
  <div class="profile-header">
    <h3><a href="{{url_for('main.lesson',id=lesson.id)}}">{{ lesson.lesson_name }}</a></h3>
    {{ newlesson.year }}{{ newlesson.season }}
    <small> <br><a href="{{url_for('main.current_lesson',newlesson_id=newlesson.id) }}">{{newlesson.about}}</a><br>
      Created: {{ moment(lesson.timestamp).format('YY.MM.DD') }}</small>
    <p>
      <a href="{{ url_for('.show_lesson_namelist',newlesson_id=newlesson.id) }}"><small>Student</small><span class="badge">{{ newlesson.count_student() }}</span></a>       
      <a href="{{ url_for('.show_lesson_exercise',newlesson_id=newlesson.id) }}"><small>&nbspHomework</small><span class="badge">{{ newlesson.count_exercise() }}</span></a>
      <br><a href="{{ url_for('.show_lesson_seat',newlesson_id=newlesson.id) }}"><small>Seat</small><span class="badge">{{ newlesson.count_seat() }}</span></a>
      <a href="{{ url_for('.show_lesson_discussion',newlesson_id=newlesson.id) }}"><small>&nbspDiscussion</small><span class="badge">{{ newlesson.count_discussion() }}</span></a>
      <br><a href="{{ url_for('.show_lesson_notice',newlesson_id=newlesson.id) }}"><small>Notice</small><span class="badge">{{ posts_teacher | length }}</span></a>
    </p>
    
    
    {% if lesson.teacher_id == current_user.id %} 
    <small><a href="{{url_for('main.edit_new_lesson',newlesson_id=newlesson.id)}}">Modify profile of the class</a>&nbsp&nbsp
      <a target="_blank" href="{{ url_for('main.tools') }}">Tool</a>
    </small><p/>
    {% endif %}
    
    {% if student.seat != None and (student.confirm == 1 or lesson.teacher_id == current_user.id) %}   
      {% if lesson.teacher_id == current_user.id %}

    <p><a class="btn btn-default" href="{{ url_for('main.write_newlesson',tag='discussion_' + newlesson.id | string) }}">Notice</a></p>
    {% else %}
    <p><a class="btn btn-default" href="{{ url_for('main.write_newlesson',tag='discussion_' + newlesson.id | string) }}">Discuss</a></p>

    {% endif %}
    {% endif %}
    
    {% if student != None %}
    {% if not student.confirm and lesson.teacher_id != current_user.id %}
    <p>Please wait for the teacher's authorization. &nbsp&nbsp<a  href="{{url_for('main.del_student',student_id=current_user.id,newlesson_id=newlesson.id)}}" onclick="javascript:if(!confirm('确认退出？'))return false;" >退出该班</a></p>
    {% endif %}
    {% endif %}
    {% if student == None and lesson.teacher_id != current_user.id %}
    <p><a class="btn btn-default" href="{{url_for('main.select_lesson',newlesson_id=newlesson.id)}}">Enroll Now</a></p>
    {% endif %}
    
    
    
    
  </div>
</div>

<div class="post-tabs">
  {% if student.confirm == 1 or lesson.teacher_id == current_user.id%}
  <ul class="nav nav-tabs">
    <li {% if show_lesson_discussion != "1" and show_lesson_discussion != "2" and show_lesson_discussion != "3" and show_lesson_discussion != "4" %} class="active"{% endif %}><a href="{{ url_for('.show_lesson_discussion',newlesson_id=newlesson.id) }}">Discussion</a></li>
    <li {% if show_lesson_discussion == "1" %} class="active"{% endif %}><a href="{{ url_for('.show_lesson_namelist',newlesson_id=newlesson.id) }}">Name list</a></li>
    <li {% if show_lesson_discussion == "2" %} class="active"{% endif %}><a href="{{ url_for('.show_lesson_seat',newlesson_id=newlesson.id) }}">Seat</a></li>
    <li {% if show_lesson_discussion == "3" %} class="active"{% endif %}><a href="{{ url_for('.show_lesson_exercise',newlesson_id=newlesson.id) }}">Homework</a></li>
    <li {% if show_lesson_discussion == "4" %} class="active"{% endif %}><a href="{{ url_for('.show_lesson_notice',newlesson_id=newlesson.id) }}">Notice</a></li>
  </ul>


  {% if show_lesson_discussion != "1" and show_lesson_discussion != "2" and show_lesson_discussion != "3" and show_lesson_discussion != "4" %}
  <ul class="posts">
    {% for post in posts %}
    <li class="post">
      <div class="post-thumbnail">
        <a href="{{ url_for('.user', username=post.author.username) }}">
          {% if post.author.avatar_file != None  %}               
          <img class="img-rounded profile-thumbnail" src="{{ post.author.avatar_file }}" height=40 width=40>
          {% else %}
          <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
          {% endif %}                                                           
        </a>
      </div>
      <div class="post-content">
        <div class="post-date"><small>{{ moment(post.timestamp).fromNow() }}（{{ moment(post.timestamp).format('YY.MM.DD HH:MM') }}）</small></div>
        <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
        <div class="post-body">
          
          {% if post.topic %}
          <h2><a href="{{ url_for('.post', id=post.id) }}">{{ post.topic }}</a></h2>
          {% endif %}
          
          {% if post.pic and post.pic1 == None %}             
          <p><img width="256" src="{{ post.pic }}" ></p>                            
          {% endif %}                                                           
          
          
          {% if post.body_html | length > 1000 %}
          {{ post.body_html[0:1000] | safe }}
          <p></p><p>&nbsp</p>
          <p></p><p><a href="{{ url_for('.post', id=post.id) }}">show only 1000 characters, to show full article please click here...</a></p>
          {% else %}
          {{ post.body_html | safe }}
          {% endif %}                
          
          {% if post.pic and post.pic1 != None %}             
          <p><img width="256" src="{{ post.pic }}" ></p>                            
          {% endif %}                                                           
          {% if post.pic1  != None %}             
          <p><img width="256" src="{{ post.pic1 }}"></p>                            
          {% endif %}                                                           
          {% if post.pic2 != None  %}             
          <p><img width="256"  src="{{ post.pic2 }}"></p>                            
          {% endif %}                                                           
          {% if post.pic3  != None %}             
          <p><img width="256"  src="{{ post.pic3 }}"></p>                            
          {% endif %}                                                           
          
          {% if post.file1 != None %}             
          <p><a  href="{{ url_for('static',filename=post.file1.replace('/static/','')) }}" >{{ post.filename1 }}</p>                            
          {% endif %}                                                           
          {% if post.file2 != None  %}             
          <p><a  href="{{ url_for('static',filename=post.file2.replace('/static/','')) }}" >{{ post.filename2 }}</p>                            
          {% endif %}                                                           
          {% if post.file3 != None  %}             
          <p><a  href="{{ url_for('static',filename=post.file3.replace('/static/','')) }}" >{{ post.filename3 }}</p>                            
          {% endif %}                                                           
          {% if post.file4 != None  %}             
          <p><a  href="{{ url_for('static',filename=post.file4.replace('/static/','')) }}" >{{ post.filename4 }}</p>                            
          {% endif %}                                                           
          {% if post.file5 != None  %}             
          <p><a  href="{{ url_for('static',filename=post.file5.replace('/static/','')) }}" >{{ post.filename5 }}</p>                            
          {% endif %}                                                           
          
        </div>
        <div class="post-footer">

          {% if current_user == post.author and post.private==True %}
          <span style="background-color:#FFFFFF;color:#777777" class="label label-default">Private</span>
          {% endif %}
          
                {% if current_user == post.author %}
                    {% if post.pic1 != None or post.pic2 != None or post.pic3 != None or post.file1 != None or post.file2 != None or post.file3 != None or post.file4 != None or post.file5 != None %}
		      {% if 'newlessons' in post.tag %}
                    <a href="{{ url_for('main.update_topic', newlesson_id=post.tag.split('_')[1],student_id=post.author_id) }}">
		      {% else %}
                    <a href="{{ url_for('.edit2', id=post.id) }}">
		      {% endif %}
                    {% else %}
		      {% if 'newlessons' in post.tag %}
                    <a href="{{ url_for('main.update_topic', newlesson_id=post.tag.split('_')[1],student_id=post.author_id) }}">
		      {% else %}
                    <a href="{{ url_for('.edit2', id=post.id) }}">
		      {% endif %}
                    {% endif %}       
                        <span class="label label-primary">Edit</span>
                    </a>
                {% endif %}       

                {% if current_user.is_administrator() %}
                    {% if post.pic1 != None or post.pic2 != None or post.pic3 != None or post.file1 != None or post.file2 != None or post.file3 != None or post.file4 != None or post.file5 != None %}
		      {% if 'newlessons' in post.tag %}
                    <a href="{{ url_for('main.update_topic', newlesson_id=post.tag.split('_')[1],student_id=post.author_id) }}">
		      {% else %}
                    <a href="{{ url_for('.edit2', id=post.id) }}">
		      {% endif %}
                    {% else %}
		      {% if 'newlessons' in post.tag %}
                    <a href="{{ url_for('main.update_topic', newlesson_id=post.tag.split('_')[1],student_id=post.author_id) }}">
		      {% else %}
                    <a href="{{ url_for('.edit2', id=post.id) }}">
		      {% endif %}
                    {% endif %}       
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}   
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="label label-default">Link</span>
                </a>
        <a href="{{ url_for('.post', id=post.id) }}">
          <span class="label label-default">Link</span>
        </a>


          
          <a href="{{ url_for('.post', id=post.id) }}#comments">
            <span class="label label-primary">{{ post.comments.count() }} Comment</span>
          </a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {%endif %}





  {% if show_lesson_discussion == "1" %}
  
  <ul class="posts">
    
    {% if lesson.teacher_id == current_user.id %} <br><br>
    {% if users_confirmed or users_unconfirmed%}

    <table cellspacing='0'  border='1' bordercolor='#D0D0D0' cellpadding='4' align='left'>
      <th>Username</th><th>Student No.</th><th>Real name</th><th>Email</th><th>Tel.</th><th>About</th><th>Operation</th>
      {% for u in users_confirmed %}
      <tr><td><a href="{{url_for('main.user',username=u.username)}}">{{u.username}}</a></td>
	<td>{{u.student_no}}</td>
        <td>{{u.name}}</td>
        <td>{{u.email}}</td><td>{{u.tel}}</td><td>{{u.about_me}}</td>
        <td><a onclick="if(confirm('Are you sure to delete?')==true)window.location.href='{{ url_for('main.del_student',newlesson_id=newlesson.id,student_id=u.id) }}';">Delete</a></td></tr>
      {% endfor %}
      
      {% endif %}
      
      {% if users_unconfirmed %}        
      {% for u in users_unconfirmed %}
      <tr><td><a href="{{url_for('main.user',username=u.username)}}">{{u.username}}</a></td>
	<td>{{u.student_no}}</td>
        <td>{{u.name}}</td>
        <td>{{u.email}}</td><td>{{u.tel}}</td>
        <td>{{u.about_me}}</td>
        <td><a href="{{ url_for('main.auth_student',newlesson_id=newlesson.id,student_id=u.id)}}">Approve</a></td></tr>
      {% endfor %}            
      {% endif %}
    </table>
    {% endif %}
    
    
    {% if student != None %}
    {% if student.confirm %}

    <table cellspacing='0'  border='1' bordercolor='#D0D0D0' cellpadding='4' align='left'>
      <th>Username</th><th>Student No.</th><th>Real name</th><th>Email</th><th>Tel.</th><th>About</th>
      {%- for u in users_confirmed %}
      <tr><td><a href="{{url_for('main.user',username=u.username)}}">{{u.username}}</a></td>
	<td>{{u.student_no}}</td>
        <td>{{u.name}}</td>
        <td>{{u.email}}</td><td>{{u.tel}}</td><td>{{u.about_me}}</td><tr>
        {% endfor -%}
    </table>
    {% endif %}
    {% endif %}
    
    
    {% if student != None %}
    {% if not student.confirm and lesson.teacher_id != current_user.id %}

    <table cellspacing='0'  border='1' bordercolor='#D0D0D0' cellpadding='4' align='left'>
      <th>Username</th><th>Student No.</th><th>Real name</th><th>Email</th><th>Tel.</th><th>About</th>
      {%- for u in users_confirmed %}
      <tr><td><a href="{{url_for('main.user',username=u.username)}}">{{u.username}}</a></td>
	<td>{{u.student_no}}</td>
        <td>{{u.name}}</td>
        <td>{{u.email}}</td><td>{{u.tel}}</td><td>{{u.about_me}}</td><tr>
        {% endfor -%}
    </table>
    {% else %}
    <br>
    {% endif %}
    {% endif %}
    
    {% if student == None and lesson.teacher_id != current_user.id %}

    <table cellspacing='0'  border='1' bordercolor='#D0D0D0' cellpadding='4' align='left'>
      <th>Username</th><th>Student No.</th><th>Real name</th><th>Email</th><th>About</th>
      {%- for u in users_confirmed %}
      <tr><td><a href="{{url_for('main.user',username=u.username)}}">{{u.username}}</a></td>
	<td>{{u.student_no}}</td>
        <td>{{u.name}}</td>
        <td>{{u.email}}</td><td>{{u.about_me}}</td><tr>
        {% endfor -%}
    </table>
    {% endif %}
</div></div>
<br><br><br><br><br><br>

{% endif %}


{% if show_lesson_discussion == "2" %}
<br/>





{% if lesson.teacher_id == current_user.id %}
<p> <a style="width:200px;" id="absence"  class="btn btn-default"   href="javascript:window.location.href='/current-lesson-absence/{{newlesson.id}}/' + getReplierSeatName()" onclick="javascript:if(document.getElementById('replier_seat_name').value===''){alert('Please select a student for absence!');return false;}else{if(!confirm('Confirm the absence?'))return false;}" >Absence submit</a></p>


<p><a style="width:200px;" class="btn btn-default" href="{{url_for('main.current_lesson',newlesson_id=newlesson.id)}}">Choose a Student Radomly</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

  <input type="text"  id="replier_seat_name" style="width:180px;height:30px;font-size:18px;background-color:white;border:0px solid white;" value= "{{replier_seat_name}}"/></p>     

<p><a style="width:200px;" id="score_answer" class="btn btn-default" href="javascript:window.location.href='/current-lesson-score/{{newlesson.id}}/' + getReplierSeatName()" onclick="javascript:if(document.getElementById('replier_seat_name').value===''){alert('Please select a student for bonus!');return false;}else{if(!confirm('Confirm to give?'))return false;}" >Give Bonus Point</a></p>    


<table cellspacing="6px">
  {% if current_user.is_authenticated and current_user.can(Permission.WRITE_ARTICLES) %}
  {%- for i in range(newlesson.room_row) %} 
  <tr><td style="width:60px;height:25px;font-size:12px;background-color:white;">Row &nbsp{{newlesson.room_row-i}}</td>
    {% for j in range(newlesson.room_column) %}        
    <td>             
      <input type="button" style="width:120px;height:20px;font-size:12px;color:gray;background-color:white;border:1px solid gray;" 
             id="{% if newlesson.room_row-i <= 9  %}0{{ newlesson.room_row-i }}{% else %}{{ newlesson.room_row-i-1 }}{% endif %}{% if j+1 <= 9 %}0{{ newlesson.room_column-j }}{% else %}{{ newlesson.room_column-j }}{% endif %}"
             onclick="setSeat3('{% if newlesson.room_row-i <= 9  %}0{{ newlesson.room_row-i }}{% else %}{{ newlesson.room_row-i }}{% endif %}{% if newlesson.room_column-j <= 9 %}0{{ newlesson.room_column-j }}{% else %}{{ newlesson.room_column-j }}{% endif %}','{{seats[-i*newlesson.room_column-j-1]}}');"
	     value="{% if absences[-i*newlesson.room_column-j-1] != 0 %}{{absences[-i*newlesson.room_column-j-1]}}{% endif %}{{seats[-i*newlesson.room_column-j-1]}} {% if score_answers[-i*newlesson.room_column-j-1] != 0 and score_answers[-i*newlesson.room_column-j-1] != None %}{{score_answers[-i*newlesson.room_column-j-1]}} {% endif %}" />
    </td>
    {% endfor -%}
  </tr>
  {% endfor %}
</table>
<ul class="nav nav-tabs">
  
  <br/>
</ul>
<p><h2><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPlatform</b></h2></p> 

{% endif %}
{% endif %}

{% if student and lesson.teacher_id != current_user.id %}
{% if student.confirm == 1 %}
<form method="post">
  <input id="submit" name="submit" type="submit"  class="btn btn-default" onclick="javascript:if(document.getElementById('seat').value===''){alert('Please choose a seat!');return false;}else{if(!confirm('Confirm seat?'))return false;}"  value="Submit seat">                                                                                               
</p>
<font color=gray>Selected seat:&nbsp</font> <input type="text" style="width:60px;height:30px;font-size:18px;background-color:white;border:0px solid white;" 
					    id="seat" name="seat" value=""/>
</form>
{% endif %}
{% endif %}

{% if lesson.teacher_id != current_user.id %}
<p><h2><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPlatform</b></h2></p>  

<form>
  <table cellspacing="6px">
    {%- for i in range(newlesson.room_row) %}
    <tr><td style="width:60px;height:25px;font-size:12px;color:gray;background-color:white;" >Row&nbsp{{i+1}}</td>
      {% for j in range(newlesson.room_column) %}    
      <td>            
        <input type="button" style="width:120px;height:25px;font-size:12px;background-color:white;border:1px solid gray;"  
               id="{% if i+1 <= 9  %}0{{ i+1 }}{% else %}{{ i+1 }}{% endif %}{% if j+1 <= 9 %}0{{ j+1 }}{% else %}{{ j+1 }}{% endif %}"
               onclick="setSeat('{% if i+1 <= 9  %}0{{ i+1 }}{% else %}{{ i+1 }}{% endif %}{% if j+1 <= 9 %}0{{ j+1 }}{% else %}{{ j+1 }}{% endif %}','{{seats[i*newlesson.room_column+j]}}');"
	       value="{% if absences[i*newlesson.room_column+j] != 0 %}{{absences[i*newlesson.room_column+j]}} {% endif %}{{seats[i*newlesson.room_column+j]}} {% if score_answers[i*newlesson.room_column+j] != 0 and score_answers[i*newlesson.room_column+j] != None %}{{score_answers[i*newlesson.room_column+j]}} {% endif %}"/>
        
      </td>
      {% endfor -%}
    </tr>
    {% endfor %}
  </table>
</form> 
{% endif %}




{% endif %}


{% if show_lesson_discussion == "3" %}
<br>


{% if student %}
{% if student.confirm == 1 %}
{% if student.student_id == current_user.id %} 
<p><a class="btn btn-default" href="{{url_for('main.update_topic',newlesson_id=newlesson.id, student_id=current_user.id)}}">Upload or Upgrade Homework</a></p>
{% endif %} 
{% endif %} 
{% endif %} 




<table cellspacing='0'  border='1' bordercolor='#D0D0D0' cellpadding='4' align='left'>
    <th>Username</th><th>Student No.</th><th>Name</th><th>Topic</th><th>About</th><th>Paper</th><th>PPT</th><th>File 1</th><th>File 2</th><th>File 3</th><th>Time</th><th>Criticism</th><th>Absence</th><th>Contribution</th><th>Score</th><th>Comment</th>
  {% for u in users_confirmed_posts %}
  <tr>
    <td><a href="{{url_for('main.user',username=u[1].username)}}">{{u[1].username}}</a></td>
    <td>{{u[1].student_no}}</td>
    <td>{{u[1].name}}</td>
    {% if u[2] != None %}
    <td><a href="{{ url_for('main.post',id=u[2]) }}">{{u[0].topic}}</a></td>
    {% else %}
    <td></td>
    {% endif %}              

    <td>{{u[0].body}}</td>    
    
    {%if u[0].file2 != None%}
    <td><a href="{{url_for('static',filename=u[0].file2.replace('/static/',''))}}">{{u[0].filename2}}</a></td>
    {%else%}
    <td></td>
    {%endif%}

    {%if u[0].file1 != None%}
    <td><a href="{{url_for('static',filename=u[0].file1.replace('/static/',''))}}">{{u[0].filename1}}</a></td>
    {%else%}
    <td></td>
    {%endif%}
    
    {%if u[0].file3 != None%}
    <td><a href="{{url_for('static',filename=u[0].file3.replace('/static/',''))}}">{{u[0].filename3}}</a></td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].file4 != None%}
    <td><a href="{{url_for('static',filename=u[0].file4.replace('/static/',''))}}">{{u[0].filename4}}</a></td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].file5 != None%}
    <td><a href="{{url_for('static',filename=u[0].file5.replace('/static/',''))}}">{{u[0].filename5}}</a></td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].time != None%}
    <td>{{ u[0].time | safe}}</td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].criticism != None%}
    <td>{{ u[0].criticism | safe}}</td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].absence != None%}
    <td>{{ u[0].absence | safe}}</td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].score_answer != None%}
    <td>{{ u[0].score_answer | safe}}</td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].score != None%}
    <td>{{ u[0].score | safe}}</td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].criticism != None or u[0].score != None %}
    <td><a href={{ url_for('.edit_criticism',newlesson_id=u[0].newlesson_id,student_id=u[0].id) }}>Comment</a></td>                
    {%else%}
    <td><a href={{ url_for('.criticism',newlesson_id=u[0].newlesson_id,student_id=u[0].id) }}>Comment</a></td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
</ul>
</ul>


{% endif %}



{% if show_lesson_discussion == "4" %}   
<ul class="posts">
  {% for post in posts_teacher %}
  <li class="post">
    <div class="post-thumbnail">
      <a href="{{ url_for('.user', username=post.author.username) }}">
        {% if post.author.avatar_file != None  %}               
        <img class="img-rounded profile-thumbnail" src="{{ post.author.avatar_file }}" height=40 width=40>
        {% else %}
        <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
        {% endif %}                                                           
      </a>
    </div>
    <div class="post-content">
      <div class="post-date"><small>{{ moment(post.timestamp).fromNow() }}（{{ moment(post.timestamp).format('YY.MM.DD HH:MM') }}）</small></div>
      <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
      <div class="post-body">
        
        {% if post.topic %}
        <h2><a href="{{ url_for('.post', id=post.id) }}">{{ post.topic }}</a></h2>
        {% endif %}
        
        {% if post.pic and post.pic1 == None %}             
        <p><img width="256" src="{{ post.pic }}" ></p>                            
        {% endif %}                                                           
        
        
        {% if post.body_html | length > 1000 %}
        {{ post.body_html[0:1000] | safe }}
        <p></p><p>&nbsp</p>
        <p></p><p><a href="{{ url_for('.post', id=post.id) }}">show only 1000 characters, to show full article please click here...</a></p>
        {% else %}
        {{ post.body_html | safe }}
        {% endif %}                
        
        {% if post.pic and post.pic1 != None %}             
        <p><img width="256" src="{{ post.pic }}" ></p>                            
        {% endif %}                                                           
        {% if post.pic1  != None %}             
        <p><img width="256" src="{{ post.pic1 }}"></p>                            
        {% endif %}                                                           
        {% if post.pic2 != None  %}             
        <p><img width="256"  src="{{ post.pic2 }}"></p>                            
        {% endif %}                                                           
        {% if post.pic3  != None %}             
        <p><img width="256"  src="{{ post.pic3 }}"></p>                            
        {% endif %}                                                           
        
        {% if post.file1 != None %}             
        <p><a  href="{{ url_for('static',filename=post.file1.replace('/static/','')) }}" >{{ post.filename1 }}</p>                            
        {% endif %}                                                           
        {% if post.file2 != None  %}             
        <p><a  href="{{ url_for('static',filename=post.file2.replace('/static/','')) }}" >{{ post.filename2 }}</p>                            
        {% endif %}                                                           
        {% if post.file3 != None  %}             
        <p><a  href="{{ url_for('static',filename=post.file3.replace('/static/','')) }}" >{{ post.filename3 }}</p>                            
        {% endif %}                                                           
        {% if post.file4 != None  %}             
        <p><a  href="{{ url_for('static',filename=post.file4.replace('/static/','')) }}" >{{ post.filename4 }}</p>                            
        {% endif %}                                                           
        {% if post.file5 != None  %}             
        <p><a  href="{{ url_for('static',filename=post.file5.replace('/static/','')) }}" >{{ post.filename5 }}</p>                            
        {% endif %}                                                           
        
      </div>
      <div class="post-footer">
	{% if current_user == post.author and post.private==True %}
	<span style="background-color:#FFFFFF;color:#777777" class="label label-default">Private</span>
	{% endif %}
	
	{% if current_user == post.author %}
	{% if current_user == post.author and (post.file !=None or post.pic1 != None) %}
	<a href="{{ url_for('.edit2', id=post.id) }}">
	  <span class="label label-primary">Edit</span>
	</a>
	{% else %}
	<a href="{{ url_for('.edit', id=post.id) }}">
	  <span class="label label-primary">Edit</span>
	</a>
	{% endif %}       
	{% endif %}       
	
	{% if current_user.is_administrator() %}
	<a href="{{ url_for('.edit', id=post.id) }}">
	  <span class="label label-danger">Edit [Admin]</span>
	</a>
	{% endif %}   
        <a href="{{ url_for('.post', id=post.id) }}">
          <span class="label label-default">Link</span>
        </a>
	
	<a href="{{ url_for('.post', id=post.id) }}#comments">
	  <span class="label label-primary">{{ post.comments.count() }} Comment</span>
	</a>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
</ul>
{% endif %}   
{% endif %}    


</div>






{% else %}



<div class="page-header">
  {% if lesson.teacher_id == current_user.id %}
  <a href="{{ url_for('main.change_lesson_pic',id=lesson.id) }}" title="更换头像">
    {% if lesson.pic != None %}               
    <img class="img-rounded profile-thumbnail" src="{{ lesson.pic }}" width=200>
    {% else %}
    <img class="img-rounded profile-thumbnail" src="{{ teacher.gravatar(size=200) }}">
    {% endif %}                                                           
  </a>
  {% else %}
  {% if lesson.pic != None %}               
  <img class="img-rounded profile-thumbnail" src="{{ lesson.pic }}" width=200>
  {% else %}
  <img class="img-rounded profile-thumbnail" src="{{ teacher.gravatar(size=200) }}">
  {% endif %}   
  {% endif %}
  
  <div class="profile-header">
    <h3><a href="{{url_for('main.lesson',id=lesson.id)}}">{{ lesson.lesson_name }}</a></h3>{{ newlesson.year }}{{ newlesson.season }}
    <small> <br><a href="{{url_for('main.current_lesson',newlesson_id=newlesson.id) }}">{{newlesson.about}}</a>
      <br>开课日：{{ moment(lesson.timestamp).format('YY.MM.DD') }}</small>
    <p>

      <a href="{{ url_for('.show_lesson_namelist',newlesson_id=newlesson.id) }}"><small>学生</small><span class="badge">{{ newlesson.count_student() }}</span></a>       
      &nbsp&nbsp<a href="{{ url_for('.show_lesson_exercise',newlesson_id=newlesson.id) }}"><small>作业</small><span class="badge">{{ newlesson.count_exercise() }}</span></a>
      <br><a href="{{ url_for('.show_lesson_seat',newlesson_id=newlesson.id) }}"><small>座位</small><span class="badge">{{ newlesson.count_seat() }}</span></a>
      &nbsp&nbsp<a href="{{ url_for('.show_lesson_discussion',newlesson_id=newlesson.id) }}"><small>讨论</small><span class="badge">{{ posts | length }}</span></a>
      <br><a href="{{ url_for('.show_lesson_notice',newlesson_id=newlesson.id) }}"><small>通知</small><span class="badge">{{ posts_teacher | length }}</span></a>
    </p>
    
    
    
    {% if lesson.teacher_id == current_user.id %} 
    <small><a href="{{url_for('main.edit_new_lesson',newlesson_id=newlesson.id)}}">修改班级资料</a>&nbsp&nbsp
      <a target="_blank" href="{{ url_for('main.tools') }}">工具</a></small><p/>
    {% endif %}
    {% if student.seat != None and (student.confirm == 1 or lesson.teacher_id == current_user.id) %}   
      {% if lesson.teacher_id == current_user.id %}

    <p><a class="btn btn-default" href="{{ url_for('main.write_newlesson',tag='discussion_' + newlesson.id | string) }}">通知</a></p>
    {% else %}
    <p><a class="btn btn-default" href="{{ url_for('main.write_newlesson',tag='discussion_' + newlesson.id | string) }}">讨论</a></p>

    {% endif %}
    {% endif %}

    {% if student != None %}
    {% if not student.confirm and lesson.teacher_id != current_user.id %}
    <p>请耐心等待老师批准。&nbsp&nbsp<a  href="{{url_for('main.del_student',student_id=current_user.id,newlesson_id=newlesson.id)}}" onclick="javascript:if(!confirm('确认退出？'))return false;" >退出该班</a></p>
    {% endif %}
    {% endif %}
    {% if student == None and lesson.teacher_id != current_user.id %}
    <p><a class="btn btn-default" href="{{url_for('main.select_lesson',newlesson_id=newlesson.id)}}">申请选修</a></p>
    {% endif %}
    
    
    
    
  </div>
</div> 

<div class="post-tabs">
  {% if student.confirm == 1 or lesson.teacher_id == current_user.id%}
  <ul class="nav nav-tabs">

    {% if student.seat or lesson.teacher_id == current_user.id%}

    <li {% if show_lesson_discussion != "1" and show_lesson_discussion != "2" and show_lesson_discussion != "3" and show_lesson_discussion != "4" %} class="active"{% endif %}><a href="{{ url_for('.show_lesson_discussion',newlesson_id=newlesson.id) }}">讨论</a></li>                                             
    <li {% if show_lesson_discussion == "1" %} class="active"{% endif %}><a href="{{ url_for('.show_lesson_namelist',newlesson_id=newlesson.id) }}">名册</a></li>
    {% endif %}       
    <li {% if show_lesson_discussion == "2" %} class="active"{% endif %}><a href="{{ url_for('.show_lesson_seat',newlesson_id=newlesson.id) }}">座位</a></li>
    {% if student.seat or lesson.teacher_id == current_user.id%}

    <li {% if show_lesson_discussion == "3" %} class="active"{% endif %}><a href="{{ url_for('.show_lesson_exercise',newlesson_id=newlesson.id) }}">作业</a></li>
    <li {% if show_lesson_discussion == "4" %} class="active"{% endif %}><a href="{{ url_for('.show_lesson_notice',newlesson_id=newlesson.id) }}">通知</a></li>
    {% endif %}       
  </ul>

  {% if show_lesson_discussion != "1" and show_lesson_discussion != "2" and show_lesson_discussion != "3" and show_lesson_discussion != "4" %}
  <ul class="posts">
    {% for post in posts %}
    <li class="post">
      <div class="post-thumbnail">
        <a href="{{ url_for('.user', username=post.author.username) }}">
          {% if post.author.avatar_file != None  %}               
          <img class="img-rounded profile-thumbnail" src="{{ post.author.avatar_file }}" height=40 width=40>
          {% else %}
          <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
          {% endif %}                                                           
        </a>
      </div>
      <div class="post-content">
        <div class="post-date"><small>{{ moment(post.timestamp).fromNow() }}（{{ moment(post.timestamp).format('YY.MM.DD HH:MM') }}）</small></div>
        <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
        <div class="post-body">
          
          {% if post.topic %}
          <h2><a href="{{ url_for('.post', id=post.id) }}">{{ post.topic }}</a></h2>
          {% endif %}
          
          {% if post.pic and post.pic1 == None %}             
          <p><img width="256" src="{{ post.pic }}" ></p>                            
          {% endif %}                                                           
          
          
          {% if post.body_html | length > 1000 %}
          {{ post.body_html[0:1000] | safe }}
          <p></p><p>&nbsp</p>
          <p></p><p><a href="{{ url_for('.post', id=post.id) }}">仅显示1000字，查看全文，请点此处……</a></p>
          {% else %}
          {{ post.body_html | safe }}
          {% endif %}                
          
          {% if post.pic and post.pic1 != None %}             
          <p><img width="256" src="{{ post.pic }}" ></p>                            
          {% endif %}                                                           
          {% if post.pic1  != None %}             
          <p><img width="256" src="{{ post.pic1 }}"></p>                            
          {% endif %}                                                           
          {% if post.pic2 != None  %}             
          <p><img width="256"  src="{{ post.pic2 }}"></p>                            
          {% endif %}                                                           
          {% if post.pic3  != None %}             
          <p><img width="256"  src="{{ post.pic3 }}"></p>                            
          {% endif %}                                                           
          
          {% if post.file1 != None %}             
          <p><a  href="{{ url_for('static',filename=post.file1.replace('/static/','')) }}" >{{ post.filename1 }}</p>                            
          {% endif %}                                                           
          {% if post.file2 != None  %}             
          <p><a  href="{{ url_for('static',filename=post.file2.replace('/static/','')) }}" >{{ post.filename2 }}</p>                            
          {% endif %}                                                           
          {% if post.file3 != None  %}             
          <p><a  href="{{ url_for('static',filename=post.file3.replace('/static/','')) }}" >{{ post.filename3 }}</p>                            
          {% endif %}                                                           
          {% if post.file4 != None  %}             
          <p><a  href="{{ url_for('static',filename=post.file4.replace('/static/','')) }}" >{{ post.filename4 }}</p>                            
          {% endif %}                                                           
          {% if post.file5 != None  %}             
          <p><a  href="{{ url_for('static',filename=post.file5.replace('/static/','')) }}" >{{ post.filename5 }}</p>                            
          {% endif %}                                                           
          
        </div>
        <div class="post-footer">
          {% if current_user == post.author and post.private==True %}
          <span style="background-color:#FFFFFF;color:#777777" class="label label-default">私有</span>
          {% endif %}
          

                {% if current_user == post.author %}
                    {% if post.pic1 != None or post.pic2 != None or post.pic3 != None or post.file1 != None or post.file2 != None or post.file3 != None or post.file4 != None or post.file5 != None %}
		      {% if 'newlessons' in post.tag %}
                    <a href="{{ url_for('main.update_topic', newlesson_id=post.tag.split('_')[1],student_id=post.author_id) }}">
		      {% else %}
                    <a href="{{ url_for('.edit2', id=post.id) }}">
		      {% endif %}
                    {% else %}
		      {% if 'newlessons' in post.tag %}
                    <a href="{{ url_for('main.update_topic', newlesson_id=post.tag.split('_')[1],student_id=post.author_id) }}">
		      {% else %}
                    <a href="{{ url_for('.edit2', id=post.id) }}">
		      {% endif %}
                    {% endif %}       
                        <span class="label label-primary">编辑</span>
                    </a>
                {% endif %}       

                {% if current_user.is_administrator() %}
                    {% if post.pic1 != None or post.pic2 != None or post.pic3 != None or post.file1 != None or post.file2 != None or post.file3 != None or post.file4 != None or post.file5 != None %}
		      {% if 'newlessons' in post.tag %}
                    <a href="{{ url_for('main.update_topic', newlesson_id=post.tag.split('_')[1],student_id=post.author_id) }}">
		      {% else %}
                    <a href="{{ url_for('.edit2', id=post.id) }}">
		      {% endif %}
                    {% else %}
		      {% if 'newlessons' in post.tag %}
                    <a href="{{ url_for('main.update_topic', newlesson_id=post.tag.split('_')[1],student_id=post.author_id) }}">
		      {% else %}
                    <a href="{{ url_for('.edit2', id=post.id) }}">
		      {% endif %}
                    {% endif %}       
                    <span class="label label-danger">编辑 [Admin]</span>
                </a>
                {% endif %}   

        <a href="{{ url_for('.post', id=post.id) }}">
          <span class="label label-default">链接</span>
        </a>


          
          <a href="{{ url_for('.post', id=post.id) }}#comments">
            <span class="label label-primary">{{ post.comments.count() }} 评论</span>
          </a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</ul>
{% endif %}



{% if show_lesson_discussion == "1" %}
<br/>
{% if lesson.teacher_id == current_user.id %} 
{% if users_confirmed or users_unconfirmed%}
<table cellspacing='0'  border='1' bordercolor='#D0D0D0' cellpadding='4' align='left'>
  <th>网名</th><th>学号</th><th>姓名</th><th>电邮</th><th>手机</th><th>简介</th><th>操作</th>
  {% for u in users_confirmed %}
  <tr><td><a href="{{url_for('main.user',username=u.username)}}">{{u.username}}</a></td>
    <td>{{u.student_no}}</td>
    <td>{{u.name}}</td>
    <td>{{u.email}}</td><td>{{u.tel}}</td><td>{{u.about_me}}</td>
    <td><a onclick="if(confirm('确认删除？')==true)window.location.href='{{ url_for('main.del_student',newlesson_id=newlesson.id,student_id=u.id) }}';">删除</a></td></tr>
  {% endfor %}
  
  {% endif %}
  
  {% if users_unconfirmed %}        
  {% for u in users_unconfirmed %}
  <tr><td><a href="{{url_for('main.user',username=u.username)}}">{{u.username}}</a></td>
    <td>{{u.student_no}}</td>
    <td>{{u.name}}</td>
    <td>{{u.email}}</td><td>{{u.tel}}</td>
    <td>{{u.about_me}}</td>
    <td><a href="{{ url_for('main.auth_student',newlesson_id=newlesson.id,student_id=u.id)}}">批准</a></td></tr>
  {% endfor %}            
  {% endif %}
</table>
{% endif %}


{% if student != None %}
{% if student.confirm %}
<table cellspacing='0'  border='1' bordercolor='#D0D0D0' cellpadding='4' align='left'>
  <th>网名</th><th>学号</th><th>姓名</th><th>电邮</th><th>手机</th><th>简介</th>
  {%- for u in users_confirmed %}
  <tr><td><a href="{{url_for('main.user',username=u.username)}}">{{u.username}}</a></td>
    <td>{{u.student_no}}</td>
    <td>{{u.name}}</td>
    <td>{{u.email}}</td><td>{{u.tel}}</td><td>{{u.about_me}}</td><tr>
    {% endfor -%}
</table>
{% endif %}
{% endif %}


{% if student != None %}
{% if not student.confirm and lesson.teacher_id != current_user.id %}
<table cellspacing='0'  border='1' bordercolor='#D0D0D0' cellpadding='4' align='left'>
  <th>网名</th><th>学号</th><th>姓名</th><th>电邮</th><th>手机</th><th>简介</th>
  {%- for u in users_confirmed %}
  <tr><td><a href="{{url_for('main.user',username=u.username)}}">{{u.username}}</a></td>
    <td>{{u.student_no}}</td>
    <td>{{u.name}}</td>
    <td>{{u.email}}</td><td>{{u.tel}}</td><td>{{u.about_me}}</td><tr>
    {% endfor -%}
</table>
{% else %}
<br>
{% endif %}
{% endif %}

{% if student == None and lesson.teacher_id != current_user.id %}

<table cellspacing='0'  border='1' bordercolor='#D0D0D0' cellpadding='4' align='left'>
  <th>网名</th><th>学号</th><th>姓名</th><th>电邮</th><th>简介</th>
  {%- for u in users_confirmed %}
  <tr><td><a href="{{url_for('main.user',username=u.username)}}">{{u.username}}</a></td>
    <td>{{u.student_no}}</td>
    <td>{{u.name}}</td>
    <td>{{u.email}}</td><td>{{u.about_me}}</td><tr>
    {% endfor -%}
</table>
{% endif %}





{% endif %}

{% if show_lesson_discussion == "2" %}
<br/>





{% if lesson.teacher_id == current_user.id %}
<p> <a id="absence"  class="btn btn-default"   href="javascript:window.location.href='/current-lesson-absence/{{newlesson.id}}/' + getReplierSeatName()" onclick="javascript:if(document.getElementById('replier_seat_name').value===''){alert('您还没有选择缺勤者！');return false;}else{if(!confirm('确认选择？'))return false;}" >缺勤提交</a></p>


<p><a class="btn btn-default" href="{{url_for('main.current_lesson',newlesson_id=newlesson.id)}}">随机提问</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

  <input type="text"  id="replier_seat_name" style="width:180px;height:30px;font-size:18px;background-color:white;border:0px solid white;" value= "{{replier_seat_name}}"/></p>     

<p><a id="score_answer" class="btn btn-default" href="javascript:window.location.href='/current-lesson-score/{{newlesson.id}}/' + getReplierSeatName()" onclick="javascript:if(document.getElementById('replier_seat_name').value===''){alert('您还没有选择加分者！');return false;}else{if(!confirm('确认加分？'))return false;}" >回答加分</a></p>    


<table cellspacing="6px">
  {% if current_user.is_authenticated and current_user.can(Permission.WRITE_ARTICLES) %}
  {%- for i in range(newlesson.room_row) %} 
  <tr><td style="width:60px;height:25px;font-size:12px;background-color:white;">第{{newlesson.room_row-i}}排：</td>
    {% for j in range(newlesson.room_column) %}        
    <td>             
      <input type="button" style="width:120px;height:20px;font-size:12px;color:gray;background-color:white;border:1px solid gray;" 
             id="{% if newlesson.room_row-i <= 9  %}0{{ newlesson.room_row-i }}{% else %}{{ newlesson.room_row-i-1 }}{% endif %}{% if j+1 <= 9 %}0{{ newlesson.room_column-j }}{% else %}{{ newlesson.room_column-j }}{% endif %}"
             onclick="setSeat3('{% if newlesson.room_row-i <= 9  %}0{{ newlesson.room_row-i }}{% else %}{{ newlesson.room_row-i }}{% endif %}{% if newlesson.room_column-j <= 9 %}0{{ newlesson.room_column-j }}{% else %}{{ newlesson.room_column-j }}{% endif %}','{{seats[-i*newlesson.room_column-j-1]}}');"
	     value="{% if absences[-i*newlesson.room_column-j-1] != 0 %}{{absences[-i*newlesson.room_column-j-1]}} {% endif %} {{seats[-i*newlesson.room_column-j-1]}} {% if score_answers[-i*newlesson.room_column-j-1] != 0 and score_answers[-i*newlesson.room_column-j-1] != None %}{{score_answers[-i*newlesson.room_column-j-1]}} {% endif %}" />                                                                   
    </td>
    {% endfor -%}
  </tr>
  {% endfor %}
</table>
<ul class="nav nav-tabs">
  
  <br/>
</ul>
<p><h2><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp讲&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp台</b></h2></p> 

{% endif %}
{% endif %}

{% if student and lesson.teacher_id != current_user.id %}
{% if student.confirm == 1 %}
<form method="post">
  <input id="submit" name="submit" type="submit"  class="btn btn-default" onclick="javascript:if(document.getElementById('seat').value===''){alert('您还没有选择座位！');return false;}else{if(!confirm('确认选择？'))return false;}"  value="座位提交">                                                                                               
</p>
<font color=gray>选择座位为：</font> <input type="text" style="width:60px;height:30px;font-size:18px;background-color:white;border:0px solid white;" 
					    id="seat" name="seat" value=""/>
</form>
{% endif %}
{% endif %}

{% if lesson.teacher_id != current_user.id %}
<p><h2><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp讲&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp台</b></h2></p>  

<form>
  <table cellspacing="6px">
    {%- for i in range(newlesson.room_row) %}
    <tr><td style="width:60px;height:25px;font-size:12px;color:gray;background-color:white;" >第{{i+1}}排：</td>
      {% for j in range(newlesson.room_column) %}    
      <td>            
        <input type="button" style="width:80px;height:25px;font-size:12px;background-color:white;border:1px solid gray;"  
               id="{% if i+1 <= 9  %}0{{ i+1 }}{% else %}{{ i+1 }}{% endif %}{% if j+1 <= 9 %}0{{ j+1 }}{% else %}{{ j+1 }}{% endif %}"
               onclick="setSeat('{% if i+1 <= 9  %}0{{ i+1 }}{% else %}{{ i+1 }}{% endif %}{% if j+1 <= 9 %}0{{ j+1 }}{% else %}{{ j+1 }}{% endif %}','{{seats[i*newlesson.room_column+j]}}');"
	       value="{% if absences[i*newlesson.room_column+j] != 0 %}{{absences[i*newlesson.room_column+j]}} {% endif %}{{seats[i*newlesson.room_column+j]}} {% if score_answers[i*newlesson.room_column+j] != 0 and score_answers[i*newlesson.room_column+j] != None %}{{score_answers[i*newlesson.room_column+j]}} {% endif %}"/>
        
      </td>
      {% endfor -%}
    </tr>
    {% endfor %}
  </table>
</form> 
{% endif %}




{% endif %}


{% if show_lesson_discussion == "3" %}
<br>


{% if student %}
{% if student.confirm == 1 %}
{% if student.student_id == current_user.id %} 
<p><a class="btn btn-default" href="{{url_for('main.update_topic',newlesson_id=newlesson.id, student_id=current_user.id)}}">上传或更新作业</a></p>
{% endif %} 
{% endif %} 
{% endif %} 




<table cellspacing='0'  border='1' bordercolor='#D0D0D0' cellpadding='4' align='left'>
  <th>网名</th><th>学号</th><th>姓名</th><th>选题</th><th>说明</th><th>论文</th><th>PPT</th><th>资料1</th><th>资料2</th><th>资料3</th><th >评语</th><th>时间</th><th>缺勤</th><th>表现</th><th>得分</th><th>评论</th>
  {% for u in users_confirmed_posts %}
  <tr>
    <td style="width:5%;table-layout: fixed;word-break: break-all;word-wrap:break-word;"><a href="{{url_for('main.user',username=u[1].username)}}">{{u[1].username}}</a></td>
    <td style="width:5%;table-layout: fixed;word-break: break-all;word-wrap:break-word;">{{u[1].student_no}}</td>
    <td style="width:5%;table-layout: fixed;word-break: break-all;word-wrap:break-word;">{{u[1].name}}</td>
    {% if u[2] != None %}
    <td style="width:8%;table-layout: fixed;word-break: break-all;word-wrap:break-word;"><a href="{{ url_for('main.post',id=u[2]) }}">{{u[0].topic}}</a></td>
    {% else %}
    <td></td>
    {% endif %}              
    <td style="width:20%;table-layout: fixed;word-break: break-all;word-wrap:break-word;">{{u[0].body}}</td>    
    {%if u[0].file2 != None%}
    <td style="width:8%;table-layout: fixed;word-break: break-all;word-wrap:break-word;"><a href="{{url_for('static',filename=u[0].file2.replace('/static/',''))}}">{{u[0].filename2}}</a></td>
    {%else%}
    <td></td>
    {%endif%}

    {%if u[0].file1 != None%}
    <td style="width:8%;table-layout: fixed;word-break: break-all;word-wrap:break-word;"><a href="{{url_for('static',filename=u[0].file1.replace('/static/',''))}}">{{u[0].filename1}}</a></td>
    {%else%}
    <td></td>
    {%endif%}
    
    {%if u[0].file3 != None%}
    <td style="width:8%;table-layout: fixed;word-break: break-all;word-wrap:break-word;"><a href="{{url_for('static',filename=u[0].file3.replace('/static/',''))}}">{{u[0].filename3}}</a></td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].file4 != None%}
    <td style="width:8%;table-layout: fixed;word-break: break-all;word-wrap:break-word;"><a href="{{url_for('static',filename=u[0].file4.replace('/static/',''))}}">{{u[0].filename4}}</a></td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].file5 != None%}
    <td style="width:8%;table-layout: fixed;word-break: break-all;word-wrap:break-word;"><a href="{{url_for('static',filename=u[0].file5.replace('/static/',''))}}">{{u[0].filename5}}</a></td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].criticism != None%}
    <td style="width:30%;table-layout: fixed;word-break: break-all;word-wrap:break-word;">{{ u[0].criticism | safe}}</td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].time != None%}
    <td style="width:8%;table-layout: fixed;word-break: break-all;word-wrap:break-word;">{{ u[0].time | safe}}</td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].absence != None%}
    <td style="width:5%;table-layout: fixed;word-break: break-all;word-wrap:break-word;">{{ u[0].absence | safe}}</td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].score_answer != None%}
    <td style="width:5%;table-layout: fixed;word-break: break-all;word-wrap:break-word;">{{ u[0].score_answer | safe}}</td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].score != None%}
    <td style="width:5%;table-layout: fixed;word-break: break-all;word-wrap:break-word;">{{ u[0].score | safe}}</td>
    {%else%}
    <td></td>
    {%endif%}
    {%if u[0].criticism != None or u[0].score != None %}
    <td style="width:5%;table-layout: fixed;word-break: break-all;word-wrap:break-word;"><a href={{ url_for('.edit_criticism',newlesson_id=u[0].newlesson_id,student_id=u[0].id) }}>评论</a></td>                
    {%else%}
    <td style="width:5%;table-layout: fixed;word-break: break-all;word-wrap:break-word;"><a href={{ url_for('.criticism',newlesson_id=u[0].newlesson_id,student_id=u[0].id) }}>评论</a></td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
</ul>
</ul>


{% endif %}



{% if show_lesson_discussion == "4" %}   
<ul class="posts">
  {% for post in posts_teacher %}
  <li class="post">
    <div class="post-thumbnail">
      <a href="{{ url_for('.user', username=post.author.username) }}">
        {% if post.author.avatar_file != None  %}               
        <img class="img-rounded profile-thumbnail" src="{{ post.author.avatar_file }}" height=40 width=40>
        {% else %}
        <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
        {% endif %}                                                           
      </a>
    </div>
    <div class="post-content">
      <div class="post-date"><small>{{ moment(post.timestamp).fromNow() }}（{{ moment(post.timestamp).format('YY.MM.DD HH:MM') }}）</small></div>
      <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
      <div class="post-body">
        
        {% if post.topic %}
        <h2><a href="{{ url_for('.post', id=post.id) }}">{{ post.topic }}</a></h2>
        {% endif %}
        
        {% if post.pic and post.pic1 == None %}             
        <p><img width="256" src="{{ post.pic }}" ></p>                            
        {% endif %}                                                           
        
        
        {% if post.body_html | length > 1000 %}
        {{ post.body_html[0:1000] | safe }}
        <p></p><p>&nbsp</p>
        <p></p><p><a href="{{ url_for('.post', id=post.id) }}">仅显示1000字，查看全文，请点此处……</a></p>
        {% else %}
        {{ post.body_html | safe }}
        {% endif %}                
        
        {% if post.pic and post.pic1 != None %}             
        <p><img width="256" src="{{ post.pic }}" ></p>                            
        {% endif %}                                                           
        {% if post.pic1  != None %}             
        <p><img width="256" src="{{ post.pic1 }}"></p>                            
        {% endif %}                                                           
        {% if post.pic2 != None  %}             
        <p><img width="256"  src="{{ post.pic2 }}"></p>                            
        {% endif %}                                                           
        {% if post.pic3  != None %}             
        <p><img width="256"  src="{{ post.pic3 }}"></p>                            
        {% endif %}                                                           
        
        {% if post.file1 != None %}             
        <p><a  href="{{ url_for('static',filename=post.file1.replace('/static/','')) }}" >{{ post.filename1 }}</p>                            
        {% endif %}                                                           
        {% if post.file2 != None  %}             
        <p><a  href="{{ url_for('static',filename=post.file2.replace('/static/','')) }}" >{{ post.filename2 }}</p>                            
        {% endif %}                                                           
        {% if post.file3 != None  %}             
        <p><a  href="{{ url_for('static',filename=post.file3.replace('/static/','')) }}" >{{ post.filename3 }}</p>                            
        {% endif %}                                                           
        {% if post.file4 != None  %}             
        <p><a  href="{{ url_for('static',filename=post.file4.replace('/static/','')) }}" >{{ post.filename4 }}</p>                            
        {% endif %}                                                           
        {% if post.file5 != None  %}             
        <p><a  href="{{ url_for('static',filename=post.file5.replace('/static/','')) }}" >{{ post.filename5 }}</p>                            
        {% endif %}                                                           
        
      </div>
      <div class="post-footer">
        {% if current_user == post.author and post.private==True %}
        <span style="background-color:#FFFFFF;color:#777777" class="label label-default">私有</span>
        {% endif %}
        
        {% if current_user == post.author %}
        {% if current_user == post.author and (post.file !=None or post.pic1 != None) %}
        <a href="{{ url_for('.edit2', id=post.id) }}">
          <span class="label label-primary">编辑</span>
        </a>
        {% else %}
        <a href="{{ url_for('.edit', id=post.id) }}">
          <span class="label label-primary">编辑</span>
        </a>
        {% endif %}       
        {% endif %}       
        
        {% if current_user.is_administrator() %}
        <a href="{{ url_for('.edit', id=post.id) }}">
          <span class="label label-danger">编辑 [Admin]</span>
        </a>
        {% endif %}  
 
        <a href="{{ url_for('.post', id=post.id) }}">
          <span class="label label-default">链接</span>
        </a>
        
        <a href="{{ url_for('.post', id=post.id) }}#comments">
          <span class="label label-primary">{{ post.comments.count() }} 评论</span>
        </a>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
</ul>
{% endif %}   

</div></div>

{% endif %}

{% endif %}


<br><br><br><br><br><br>    


<script type='text/javascript'>
  function setSeat(myseat,theseat){
  if (myseat==theseat){
  document.getElementById('seat').value=myseat;
  }else{
  alert("已经有人坐了，请另外选择。");
  return false;
  }
  }
  
  function setSeat2(myseat,theseat){
  if (myseat!=theseat){
  document.getElementById('seat').value=myseat;	           
  }else{
  alert("此处无人坐，请另外选择。");
  return false;
  }
  }     
  function setSeat3(myseat,theseat){
  if (myseat!=theseat){
  document.getElementById('replier_seat_name').value=myseat+" " + theseat;
  }else{
  alert("此处无人坐，请另外选择。");
  return false;
  }
  }     
  function getReplierSeatName(){
  return document.getElementById('replier_seat_name').value;
  }
  
  
</script>


{% if pagination %}
<div class="pagination">
  {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

{% endblock %}

