{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{% if english == "yes" %}Edit the news{% else %}编辑新闻{% endif %}{% endblock %}
{% block page_content %}

{% if english == "yes" %}


<div align=right class="post_footer"><a onclick='if(confirm("Confirm to delete? ")==true)window.location.href=
    "{{ url_for('.del_news',id=id) }}";' style='text-decoration:none;'>
       <span class="label label-default">Delete</span></a> 
</div>
 

{% else %}


<div align=right class="post_footer"><a onclick='if(confirm("确认删除？")==true)window.location.href=
    "{{ url_for('.del_news',id=id) }}";' style='text-decoration:none;'>
       <span class="label label-default">删除</span></a> 
</div>
 
{% endif %}


{{ wtf.quick_form(form) }}
<br/><br/><br/><br/><br/><br/>
 
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
