{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{% if english == "yes" %}Follow{% else %}关注{% endif %}{{ user.username }}的{% endblock %}

{% block page_content %}

{% if english == "yes" %}




<div class="post-tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="/followers">Who followed {{ user.username }} are as below</a></li>
    </ul>
</div>
<table class="table table-hover followers">
    <thead><tr><th>User</th><th>from</th></tr></thead>
    {% for follow in follows %}
    {% if follow.user != user %}
    <tr>
        <td>
            <a href="{{ url_for('.user', username = follow.user.username) }}">
         {% if follow.user.avatar_file != None %}               
               <img class="img-rounded profile-thumbnail" src="{{ follow.user.avatar_file }}" width=28 height=28>
         {% else %}
               <img class="img-rounded profile-thumbnail" src="{{ follow.user.gravatar(size=28) }}">
         {% endif %}  
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ follow.user.username }}
            </a>
        </td>
        <td>{{ moment(follow.timestamp).format('L') }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>





{% else %}



<div class="post-tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="/collection">关注{{ user.username }}的有</a>
      </ul>
</div>
<table class="table table-hover followers">
    <thead><tr><th>用户</th><th>自从</th></tr></thead>
    {% for follow in follows %}
    {% if follow.user != user %}
    <tr>
        <td>
            <a href="{{ url_for('.user', username = follow.user.username) }}">
         {% if follow.user.avatar_file != None %}               
               <img class="img-rounded profile-thumbnail" src="{{ follow.user.avatar_file }}" width=28 height=28>
         {% else %}
               <img class="img-rounded profile-thumbnail" src="{{ follow.user.gravatar(size=28) }}">
         {% endif %}  
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ follow.user.username }}
            </a>
        </td>
        <td>{{ moment(follow.timestamp).format('L') }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>


{% endif %}






<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
</div>
{% endblock %}
