{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{% if english == "yes" %}Reset password{% else %}重设密码{% endif %}{% endblock %}

{% block page_content %}

{% if english == "yes" %}

    <div class="page-header">
        <h2>Reset password</h2>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    
    <p></p><p></p><p></p><p></p>
    <p><font color="grey"> (You need to contact web manager (4236615@qq.com) to temporarilly activate the function of resetting password.)</font></p> 
    </div>
    

{% else %}


    <div class="page-header">
        <h2>重设密码</h2>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    
    <p></p><p></p><p></p><p></p>
    </div>
    

{% endif %}

{% endblock %}