{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{% if english == "yes" %}Update class paper{% else %}更新课程论文选题和资料{% endif %}{% endblock title %}

{% block page_content %}
{% if english == "yes" %}

<div align=right class="post_footer"><a onclick='if(confirm("Confirm to delete?")==true)window.location.href=
    "{{ url_for('.del_topic',newlesson_id=newlesson_id) }}";' style='text-decoration:none;'>
       <span class="label label-default">Delete</span></a> </div>


{% else %}

<div align=right class="post_footer"><a onclick='if(confirm("确认删除？")==true)window.location.href=
    "{{ url_for('.del_topic',newlesson_id=newlesson_id) }}";' style='text-decoration:none;'>
       <span class="label label-default">删除</span></a> </div>


{% endif %}


{% if current_user.is_authenticated and current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
{% endif %}


<br>
<br><br><br>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
